* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: linear-gradient(#3f51bf, #000);
}
.main {
  width: 350px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #fdfdfd;
}
/*start header styles */
.header {
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: relative;
}
.header img {
  width: 20px;
  position: absolute;
  cursor: pointer;
  top: 10px;
}
.menu_icon {
  left: 20px;
}
.bell_icon {
  right: 20px;
}
.title {
  color: #007aff;
  text-align: center;
}
/*finish header styles  */

.main-text {
  width: 300px;
  margin: 50px auto 0;
  color: #777;
}
.main-text h2 {
  margin-bottom:20px ;
}
